@import "mediaQuery.less";

.carousel{
	display: flex;
	width: 100%;

	.left-arrow,
	.right-arrow {
		display: none;
		align-self: stretch;
		font-size: 40px;
		font-weight: bolder;
		text-align: center;
		cursor: pointer;
		@media @desktop{
			display: flex;
			min-width: 60px;
		}
		.arrow-icon{
			align-self: center;
			margin: auto;
		}

		&:hover{
			background-color: rgba(0,0,0,0.1);
			transition: background-color 0.5s linear;
		}
	}
	.content {
		@media @desktop {
			margin: 0 20px;
		}
		min-height: 300px;
		flex-grow: 1;
		overflow-x: hidden;
		display: flex;
		flex-wrap: nowrap;
	}
	.carousel-panel {
		width: 100%;
		flex: 0 0 auto;
	}
}

