@import "mediaQuery.less";

.driver-page{
	.driver-data {
		display: flex;
		margin-bottom: 20px;
		@media @desktop{
			margin-left: 80px;
		}
		.driver-thumbnail{
			width: 128px;
			height: 128px;
		}
		.driver-info {
			margin-left: 20px;
		}
		.driver-name {
			font-size: 36px;
			font-weight: bold;
		}
		.driver-team {
			font-size: 24px;
		}
		.driver-age {
			font-size: 24px;
		}
	}

	.driver-classifications{
		a {
			font-weight: bold;
		}
		table{
			border-collapse: collapse;
			width: 100%;
		}
		tbody tr{
			&.highlight{
				font-weight: bolder;
				background-color: #3c3c3c !important;
				color: white;
			}
			&:nth-child(2n+1){
				background-color: #f4f4f4;
			}
		}
		th,td{
			padding: 8px 5px 8px;
			@media @desktop{
				padding: 12px 20px 12px;
			}
			text-align: left;
		}
	}
}
